/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
  }
  
  body {
    background: #080808;
    color: #fff;
  }
  
  .container {
    width: 80%;
    margin: auto;
    padding: 10px 10%;
  }


  /* Header Styles */
#header {
    width: 100%;
    height: 100vh;
/*    background-image: url(images/minions_PNG12.png);*/
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.logo{

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 20px;
    }

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background:#fff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;

}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    
}

#about{
    padding: 80px 0;
    color: white;

}

.contant{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 60px;
}

.tabs{
    display: flex;
    margin: 20px 0 40px;
}
.links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.box {
  border: 2px solid white;
  padding: 100px;
  width:500px;
  height: 100px;
  margin:none;
  position: relative;
}

.box p:first-child{
    font-size: large;
    position: absolute;
    top: 0; 
    left: 0;
}

.box nav{
    position: absolute;
    top: 15%; 
    left: 0;
}


